* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "freight big pro";
}

body {
  height: 100%;
  width: 100%;
}

.main {
  background-color: #000;
}

.loader {
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99;
}

.loader h1 {
  font-size: 6.9vw;
  line-height: 5.5vw;
  font-weight: 100;
  letter-spacing: -3px;
  position: relative;
  z-index: 9;
}

.loader video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 6;
}

.yellow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f5e41b;
  z-index: 8;
}

.yellow_second {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f5e41b;
  z-index: 7;
}

.nav {
  position: absolute;
  width: 100%;
  padding: 30px 50px;
  z-index: 10;
}

.nav svg path {
  fill: #000;
}

.page_1 {
  height: 100vh;
  width: 100%;
  background-color: #f5e41b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page_1 h1 {
  font-size: 6.9vw;
  line-height: 5.5vw;
  font-weight: 100;
  letter-spacing: -3px;
}

.page_2 {
  height: 100vh;
  width: 100%;
  background-color: #000;
}

.page_3 {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
